<h1 class="welcome_message">Ku So Dhawoow, <small> Macadka Tayibun</small></h1>
<div class="row">
  <br>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  </div>
  <div class="col-xs- col-sm- col-md- col-lg-">
    <div class="video">
       <iframe width="675" height="350" src="https://www.youtube.com/embed/watch?v=n3MpWNlcU9Y" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  </div>
</div>
</div><!-- end slider -->
<div class="main_bg"><!-- start main -->
  <div class="container">
    <div class="main row">
      <div class="col-md-3 images_1_of_4 text-center">
        <span class="bg"><i class="fa fa-globe"></i></span>
        <h4><a href="#">Culuumo faro badan </a></h4>
        <p class="para">Culuumo faro badan, oo aduunka joogan ba Tayibun so galo.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
      <div class="col-md-3 images_1_of_4 bg1 text-center">
        <span class="bg"><i class="fa fa-laptop"></i></span>
        <h4><a href="#">Laptop or Mobile</a></h4>
        <p class="para">Video yaasha waxa ka fiirsa kaarta laptopkaaga ama mobile phone.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
      <div class="col-md-3 images_1_of_4 bg1 text-center">
        <span class="bg"><i class="fa fa-money"></i></span>
        <h4><a href="#">$ Qiimo jaban</a></h4>
        <p class="para">Qiimo oo jaban.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
      <div class="col-md-3 images_1_of_4 bg1 text-center">
        <span class="bg"><i class="fa fa-clock-o"></i> </span>
        <h4><a href="#">Access any time</a></h4>
        <p class="para">Waakhitiga raabtid baad fiirsarkarta video yaasha</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
    </div>
  </div>
</div><!-- end main --><div class="main_btm"><!-- start main_btm -->
  <div class="container">
    <div class="main row">
      <div class="col-md-6 content_left">
        <img src="images/islamic-books.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-6 content_right">
        <h4>Tayibun Online Academy <span>is a online Islamic academy. </span> Tayibun uses technology to bring learning into the comfort of your home.</h4>
        <p class="para"> Tayibun is the best option for you to learn from various scholars, while you study on your own time and in your own home.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
      </div>
    </div>
    <div id="owl-demo" class="owl-carousel text-center">
      <div class="item">
        <div class="cau_left">
          <img class="lazyOwl" data-src="images/kariye.jpg" alt="Lazy Owl Image">
        </div>
        <div class="cau_left">
          <h4><a href="#">Dr. Maxamed Kariye</a></h4>
          <p>
            Lorem ipsum dolor amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="cau_left">
          <img class="lazyOwl" data-src="images/axmed.jpg"  alt="Lazy Owl Image">
        </div>
        <div class="cau_left">
          <h4><a href="#">Dr. Axmed Nuur </a></h4>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          </p>
        </div>
      </div>
      <div class="item">
        <div class="cau_left">
          <img class="lazyOwl" data-src="images/idris.jpg" alt="Lazy Owl Image">
        </div>
        <div class="cau_left">
          <h4><a href="#">Sh. Maxamed Idris </a></h4>
          <p>
            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled  pleasure of the moment,
          </p>
        </div>
      </div>
      <div class="item">
        <div class="cau_left">
          <img class="lazyOwl" data-src="images/abdiaziz.jpg" alt="Lazy Owl Image">
        </div>
        <div class="cau_left">
          <h4><a href="#">Ustaadh Abdiaziz Jama</a></h4>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          </p>
        </div>
      </div>
    </div>
  </div>
</div>