<div id="page-wrap" class="page-wrap about">
        <div class="content-wrap container">
          <div class="row">
            <div class="left-column span8">
              <div class="lectures">

<h1 class="burntOrange underlineBurntOrange spaceTop">Message from Tayibun</h1>
<div class="spaceTop small darkGrey">
<h3>Bismillah al rahman al rahim</h3>

<hr>
<h4> Tayibun is a website dedicated to bringing you quality Islamic content.</h4>
</div>
</div>
</div>
</div>
</div>
</div>