
.summary {
    width: 200px;
    height: 200px;
    /* height: 200px; */
    /* position: relative; */
    margin-left: 20px;
    overflow: hidden;
}

.pull-left {
    float: left;
}

.summary .bottom {
    position: absolute;
    border-top: 1px solid #999;
    bottom: 0;
    right: 0;
    background-color: #f9f9f9;
}

.nav-tabs {
    border-bottom: 6px solid #333;
}

.nav-tabs > .active > a:hover {
    background: rgb(50,50,50);
    color: #fff;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    display: block;
}

.learn {
    background-color: #BD1212;
}

.header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }

.well-sm {
    margin-top: 15px;
}