<div class="container">
	<div class="col-lg-12">
		<h3 class="page-header">Courses</h3>
	</div>
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">New Courses</a></li>
			<li role="presentation"><a href="#free" aria-controls="free" role="tab" data-toggle="tab">Free Courses</a></li>
			<li role="presentation"><a href="#paid" aria-controls="paid" role="tab" data-toggle="tab">Paid Courses</a></li>
			<li role="presentation"><a href="#live" aria-controls="live" role="tab" data-toggle="tab">Settings</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="new">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Basic Arabic Course (1)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span></span><span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>       
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Basic Arabic Course (2)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Basic Arabic Course (3)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>       
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Basic Arabic Course (4)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="free">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Free Course (3)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>       
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Free Course (4)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="paid">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Paid Course (3)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>       
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Paid Course (4)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="live">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Paid Course (3)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>       
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="col-lg-3 col-md-4 col-xs-6 thumb">
							<img src="http://placehold.it/400x300" class="pull-left" width="230" height="200"
							style="margin-bottom: 20px; 20px; margin-top: 20px;">
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="summary">
							<h3 class="">Paid Course (4)</h3>
							<p>Huda Academy is now offering a new and improved 7 level classical Arabic beginners course. The beginner's course is now taught in English!</p><p></p>
							<div class="bottom clearfix">
								<span class="lectures-count"><h5>13 Lectures</h5></span><span class="watch-link"><a href="?course=1326808297" class="learn"><h5>Learn More!</h5></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>